@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Monoton&display=swap');

/* /////////////// FONTS ////////////////// */
/* font-family: 'Gothic A1', sans-serif;
font-family: 'Monoton', cursive; */

:root{
  --nav-color: black;
  --secondary-color: #0d6dfda6;
  --main-grey: rgb(50, 50, 50);
  --primary-white: rgba(255, 255, 255, 0.95);
  --primary-red: #C21B25;
}



body {
  /* background-color: var(--main-grey) !important; */
  /* background-color: white; */
  font-family: 'Gothic A1', sans-serif !important;
}

.headFont {
  font-family: 'Monoton';
  font-size: 4vw !important;
}

@media only screen and (max-width: 600px) {
  .headFont {
    font-size: 8vw !important;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 10vh;

}

/* .pageDescription {
  background-color: var(--primary-white);
  width: 100%;
} */


.headContainer {
  background-color: rgba(0, 0, 0, 0.388);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}



.drinkImg {
  height: 15vh;
}


