.home {
    background-image: url('./images/bg.jpg');
    height: 100vh;
    position: relative;
    min-height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.randomDrink {
    background-color: var(--primary-white);
}
/* 
.randomDrinkContainer {
    position: fixed;
    z-index: 100;
} */

.newDrinkBtn {
    background-color: #699CFA;
    width: 15vw;
    min-width: 150px;
    border: none;
    border-radius: 10px;
}

